
<table datatable [dtOptions]="dtOptions" class="row-border hover" >
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Education</th>
    <th>Experience</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.phone }}</td>
    <td>{{ item.education }}</td>
    <td>{{ item.experience }}</td>
    <td><button (click)="deleteC(item.id)" >delete</button></td>
  </tr>
  </tbody>
</table>
